USE [PetClinicMVP]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PetID] [int] NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CancelReason] [nvarchar](500) NULL,
	[SlotShift] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentServices]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentServices](
	[AppointmentServiceID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[AssignedStaffID] [int] NULL,
 CONSTRAINT [PK_AppointmentServices] PRIMARY KEY CLUSTERED 
(
	[AppointmentServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cages]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cages](
	[CageID] [int] IDENTITY(1,1) NOT NULL,
	[CageNumber] [nvarchar](20) NOT NULL,
	[CageType] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Phone] [varchar](20) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RememberMeToken] [nvarchar](255) NULL,
	[TokenExpiredTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyAssessments]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyAssessments](
	[AssessmentID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[AssessmentDate] [date] NOT NULL,
	[Condition] [nvarchar](1000) NULL,
	[TreatmentToday] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroomingRecords]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroomingRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[PetID] [int] NOT NULL,
	[GroomerID] [int] NOT NULL,
	[CoatCondition] [nvarchar](100) NULL,
	[Behavior] [nvarchar](100) NULL,
	[ProductsUsed] [nvarchar](500) NULL,
	[Notes] [nvarchar](1000) NULL,
	[FlagForVet] [bit] NOT NULL,
	[FlagReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InpatientAdmissions]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InpatientAdmissions](
	[AdmissionID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NULL,
	[PetID] [int] NOT NULL,
	[AdmitDate] [date] NOT NULL,
	[DischargeDate] [date] NULL,
	[CageNumber] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CageID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[LineTotal]  AS ([Quantity]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[OtherFees] [nvarchar](200) NULL,
	[InvoiceCode]  AS ('INV'+right('000000'+CONVERT([varchar](6),[InvoiceID]),(6))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[PetID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[Weight] [decimal](5, 2) NULL,
	[Temperature] [decimal](4, 1) NULL,
	[Symptoms] [nvarchar](1000) NULL,
	[Diagnosis] [nvarchar](1000) NULL,
	[TreatmentPlan] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[GeneralConclusion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](30) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
	[ProviderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[StaffID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](1000) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[ActionUrl] [nvarchar](500) NULL,
	[ExpiresAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Method] [nvarchar](30) NOT NULL,
	[PaidAt] [datetime2](7) NOT NULL,
	[ProcessedByID] [int] NULL,
	[InvoiceID] [int] NOT NULL,
	[PaymentCode] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SpeciesName] [nvarchar](50) NOT NULL,
	[BreedName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Weight] [decimal](5, 2) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionItems]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Dosage] [nvarchar](255) NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[ProviderID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[TaxCode] [nvarchar](30) NULL,
	[Note] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refunds]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refunds](
	[RefundID] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[RefundedAt] [datetime2](7) NULL,
	[ProcessedByID] [int] NULL,
	[AppointmentID] [int] NOT NULL,
	[BankCode] [nvarchar](20) NULL,
	[AccountNumber] [nvarchar](30) NULL,
	[AccountName] [nvarchar](150) NULL,
	[Status] [varchar](20) NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[PaidAmount] [decimal](12, 2) NOT NULL,
	[RejectReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RefundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsPublic] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Specialization] [nvarchar](100) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[HireDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAttendance]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAttendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[SlotShift] [tinyint] NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockImportReceiptDetails]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockImportReceiptDetails](
	[ReceiptDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[ItemType] [varchar](30) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockImportReceipts]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockImportReceipts](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptCode] [varchar](30) NOT NULL,
	[ProviderID] [int] NOT NULL,
	[PerformedByID] [int] NOT NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransactions]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemID] [int] NOT NULL,
	[QuantityChange] [decimal](10, 2) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[PerformedByID] [int] NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[ProviderID] [int] NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[PurchasePrice] [decimal](10, 2) NULL,
	[ReceiptID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[SupplyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](30) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ProviderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyUsageItems]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyUsageItems](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[SupplyID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[UsedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationRecords]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationRecords](
	[VaccineRecordID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[AppointmentID] [int] NULL,
	[AdministeredDate] [date] NOT NULL,
	[NextDueDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccines]    Script Date: 8/3/2026 9:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccines](
	[VaccineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
	[ProviderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [CustomerID], [PetID], [AppointmentDate], [StartTime], [EndTime], [Status], [Notes], [CancelReason], [SlotShift]) VALUES (1, 6, 7, CAST(N'2026-07-13' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Cancelled', NULL, NULL, 1)
INSERT [dbo].[Appointments] ([AppointmentID], [CustomerID], [PetID], [AppointmentDate], [StartTime], [EndTime], [Status], [Notes], [CancelReason], [SlotShift]) VALUES (2, 6, 7, CAST(N'2026-07-12' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Cancelled', NULL, NULL, NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [CustomerID], [PetID], [AppointmentDate], [StartTime], [EndTime], [Status], [Notes], [CancelReason], [SlotShift]) VALUES (3, 6, 7, CAST(N'2026-07-24' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Cancelled', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentServices] ON 

INSERT [dbo].[AppointmentServices] ([AppointmentServiceID], [AppointmentID], [ServiceID], [UnitPrice], [AssignedStaffID]) VALUES (3, 4, 2, CAST(50000.00 AS Decimal(12, 2)), 3)
INSERT [dbo].[AppointmentServices] ([AppointmentServiceID], [AppointmentID], [ServiceID], [UnitPrice], [AssignedStaffID]) VALUES (4, 4, 11, CAST(200000.00 AS Decimal(12, 2)), 5)
INSERT [dbo].[AppointmentServices] ([AppointmentServiceID], [AppointmentID], [ServiceID], [UnitPrice], [AssignedStaffID]) VALUES (5, 4, 12, CAST(50000.00 AS Decimal(12, 2)), 5)
GO
SET IDENTITY_INSERT [dbo].[AppointmentServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Cages] ON 

INSERT [dbo].[Cages] ([CageID], [CageNumber], [CageType], [IsActive], [Notes]) VALUES (1, N'CAGE-A01', N'Small', 1, N'Small dogs and cats')
INSERT [dbo].[Cages] ([CageID], [CageNumber], [CageType], [IsActive], [Notes]) VALUES (2, N'CAGE-A02', N'Small', 1, N'Small dogs and cats')
INSERT [dbo].[Cages] ([CageID], [CageNumber], [CageType], [IsActive], [Notes]) VALUES (3, N'CAGE-A03', N'Small', 1, N'Small dogs and cats')
SET IDENTITY_INSERT [dbo].[Cages] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Email], [Phone], [PasswordHash], [IsActive], [CreatedAt], [RememberMeToken], [TokenExpiredTime]) VALUES (1, N'Nguyễn Kỳ Anh', N'abctry.mm@gmail.com', N'0911112222', N'YkXinwNHUk+szyv0/lJGSQ==:149ee44488b2cb7130cedc1b8fcfd583cc604b76f469628aca29578c9dcf2cad', 1, CAST(N'2026-06-04T08:53:27.8966667' AS DateTime2), NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Email], [Phone], [PasswordHash], [IsActive], [CreatedAt], [RememberMeToken], [TokenExpiredTime]) VALUES (2, N'Lê Hoài Nam', N'hoainam@gmail.com', N'0922223333', N'YkXinwNHUk+szyv0/lJGSQ==:149ee44488b2cb7130cedc1b8fcfd583cc604b76f469628aca29578c9dcf2cad', 1, CAST(N'2026-06-04T08:53:27.8966667' AS DateTime2), NULL, NULL)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Email], [Phone], [PasswordHash], [IsActive], [CreatedAt], [RememberMeToken], [TokenExpiredTime]) VALUES (3, N'Đặng Minh Tuyết', N'minhtuyet@gmail.com', N'0933334444', N'YkXinwNHUk+szyv0/lJGSQ==:149ee44488b2cb7130cedc1b8fcfd583cc604b76f469628aca29578c9dcf2cad', 1, CAST(N'2026-06-04T08:53:27.8966667' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[GroomingRecords] ON 

INSERT [dbo].[GroomingRecords] ([RecordID], [AppointmentID], [PetID], [GroomerID], [CoatCondition], [Behavior], [ProductsUsed], [Notes], [FlagForVet], [FlagReason], [CreatedAt]) VALUES (1, 8, 7, 5, N'Matted', N'Cooperative', N'', N'', 1, N'nốt đỏ trên da', CAST(N'2026-07-13T16:59:05.7000000' AS DateTime2))
INSERT [dbo].[GroomingRecords] ([RecordID], [AppointmentID], [PetID], [GroomerID], [CoatCondition], [Behavior], [ProductsUsed], [Notes], [FlagForVet], [FlagReason], [CreatedAt]) VALUES (2, 35, 7, 5, N'Good', N'Cooperative', N'', N'', 1, N'nốt đỏ trên da', CAST(N'2026-07-25T14:43:11.3033333' AS DateTime2))
INSERT [dbo].[GroomingRecords] ([RecordID], [AppointmentID], [PetID], [GroomerID], [CoatCondition], [Behavior], [ProductsUsed], [Notes], [FlagForVet], [FlagReason], [CreatedAt]) VALUES (3, 37, 7, 5, N'Good', N'Cooperative', N'', N'', 0, NULL, CAST(N'2026-07-27T12:28:25.2200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GroomingRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [ItemType], [Description], [Quantity], [UnitPrice]) VALUES (1, 1, N'Vaccine', N'Hihihi - Vaccine 4 bệnh cho mèo (Purevax)', CAST(1.00 AS Decimal(10, 2)), CAST(350000.00 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [ItemType], [Description], [Quantity], [UnitPrice]) VALUES (2, 2, N'Service', N'Hihihi - Tư vấn dinh dưỡng', CAST(1.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [ItemType], [Description], [Quantity], [UnitPrice]) VALUES (3, 2, N'Service', N'Hihihi - Cắt tỉa lông', CAST(1.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [AppointmentID], [CustomerID], [TotalAmount], [Status], [OtherFees]) VALUES (1, 1, 6, CAST(350000.00 AS Decimal(12, 2)), N'Unpaid', NULL)
INSERT [dbo].[Invoices] ([InvoiceID], [AppointmentID], [CustomerID], [TotalAmount], [Status], [OtherFees]) VALUES (2, 4, 6, CAST(550000.00 AS Decimal(12, 2)), N'Unpaid', NULL)
INSERT [dbo].[Invoices] ([InvoiceID], [AppointmentID], [CustomerID], [TotalAmount], [Status], [OtherFees]) VALUES (3, 5, 6, CAST(100000.00 AS Decimal(12, 2)), N'Unpaid', NULL)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([RecordID], [AppointmentID], [PetID], [StaffID], [Weight], [Temperature], [Symptoms], [Diagnosis], [TreatmentPlan], [CreatedAt], [GeneralConclusion]) VALUES (1, 12, 8, 4, CAST(4.00 AS Decimal(5, 2)), CAST(39.0 AS Decimal(4, 1)), N'sốt cao, phát ban', N'[Test nhanh]
[Xét nghiệm máu]', N'[Điều trị kháng sinh]
[Truyền dịch / hỗ trợ]', CAST(N'2026-07-13T22:23:26.0600000' AS DateTime2), NULL)
INSERT [dbo].[MedicalRecords] ([RecordID], [AppointmentID], [PetID], [StaffID], [Weight], [Temperature], [Symptoms], [Diagnosis], [TreatmentPlan], [CreatedAt], [GeneralConclusion]) VALUES (2, 33, 11, 4, NULL, NULL, N'Đau bụng, nôn mửa', N'[Test nhanh]
[Siêu âm]', N'[Truyền dịch / hỗ trợ]
[Hỗ trợ tiêu hoá]', CAST(N'2026-07-25T14:29:07.6033333' AS DateTime2), NULL)
INSERT [dbo].[MedicalRecords] ([RecordID], [AppointmentID], [PetID], [StaffID], [Weight], [Temperature], [Symptoms], [Diagnosis], [TreatmentPlan], [CreatedAt], [GeneralConclusion]) VALUES (3, 37, 7, 4, NULL, NULL, N'dau bung', N'[Test nhanh]
[Xét nghiệm máu]', N'', CAST(N'2026-07-27T12:27:00.6600000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineID], [Name], [Unit], [UnitPrice], [StockQty], [MinStockLevel], [ProviderID]) VALUES (1, N'Kháng sinh Amoxicillin 250mg', N'Viên', CAST(15000.00 AS Decimal(10, 2)), 477, 10, NULL)
INSERT [dbo].[Medicines] ([MedicineID], [Name], [Unit], [UnitPrice], [StockQty], [MinStockLevel], [ProviderID]) VALUES (2, N'Giảm đau kháng viêm PetCam', N'Lọ', CAST(180000.00 AS Decimal(10, 2)), 38, 10, NULL)
INSERT [dbo].[Medicines] ([MedicineID], [Name], [Unit], [UnitPrice], [StockQty], [MinStockLevel], [ProviderID]) VALUES (3, N'Thuốc sát trùng vết thương', N'Chai', CAST(45000.00 AS Decimal(10, 2)), 29, 10, NULL)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [CustomerID], [StaffID], [Title], [Body], [IsRead], [CreatedAt], [Type], [ActionUrl], [ExpiresAt]) VALUES (1, 6, NULL, N'Lịch khám đã được xác nhận', N'Dịch vụ: Gói Spa toàn diện | 13/07/2026 lúc 13:30 | BS: Nguyễn Thị Groomer', 1, CAST(N'2026-07-12T16:45:15.2833333' AS DateTime2), N'BOOKING_CONFIRMED', N'/appointments/detail?id=11', NULL)
INSERT [dbo].[Notifications] ([NotificationID], [CustomerID], [StaffID], [Title], [Body], [IsRead], [CreatedAt], [Type], [ActionUrl], [ExpiresAt]) VALUES (2, 3, NULL, N'Your pet Hí Hí has been discharged', N'Stay duration: 1 day(s). Total fee: 200,000 VND. Please proceed to payment.', 1, CAST(N'2026-07-13T22:29:12.9266667' AS DateTime2), N'INFO', NULL, NULL)
INSERT [dbo].[Notifications] ([NotificationID], [CustomerID], [StaffID], [Title], [Body], [IsRead], [CreatedAt], [Type], [ActionUrl], [ExpiresAt]) VALUES (3, 1, NULL, N'Lịch khám đã được xác nhận', N'Dịch vụ: Cắt tỉa lông, Cắt móng | 18/07/2026 lúc 10:00 | BS: Nguyễn Thị Groomer', 1, CAST(N'2026-07-17T10:03:11.8933333' AS DateTime2), N'BOOKING_CONFIRMED', N'/appointments/detail?id=17', NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [Amount], [Method], [PaidAt], [ProcessedByID], [InvoiceID], [PaymentCode]) VALUES (1, CAST(100000.00 AS Decimal(12, 2)), N'E-Wallet', CAST(N'2026-07-11T19:32:29.7800000' AS DateTime2), 1, 4, N'PAY_INV000004_01')
INSERT [dbo].[Payments] ([PaymentID], [Amount], [Method], [PaidAt], [ProcessedByID], [InvoiceID], [PaymentCode]) VALUES (2, CAST(400000.00 AS Decimal(12, 2)), N'E-Wallet', CAST(N'2026-07-11T19:57:32.8866667' AS DateTime2), 1, 6, N'PAY_INV000006_01')
INSERT [dbo].[Payments] ([PaymentID], [Amount], [Method], [PaidAt], [ProcessedByID], [InvoiceID], [PaymentCode]) VALUES (3, CAST(400000.00 AS Decimal(12, 2)), N'E-Wallet', CAST(N'2026-07-12T15:47:04.7133333' AS DateTime2), 1, 7, N'PAY_INV000007_01')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Pets] ON 

INSERT [dbo].[Pets] ([PetID], [CustomerID], [Name], [SpeciesName], [BreedName], [Gender], [DateOfBirth], [Weight], [IsDeleted]) VALUES (1, 1, N'LuLu', N'Dog', N'Poodle', N'Male', CAST(N'2024-05-10' AS Date), CAST(5.50 AS Decimal(5, 2)), 0)
INSERT [dbo].[Pets] ([PetID], [CustomerID], [Name], [SpeciesName], [BreedName], [Gender], [DateOfBirth], [Weight], [IsDeleted]) VALUES (2, 1, N'Miu Miu', N'Cat', N'Mèo Anh lông ngắn', N'Female', CAST(N'2025-01-15' AS Date), CAST(3.20 AS Decimal(5, 2)), 0)
INSERT [dbo].[Pets] ([PetID], [CustomerID], [Name], [SpeciesName], [BreedName], [Gender], [DateOfBirth], [Weight], [IsDeleted]) VALUES (3, 2, N'Bé Bự', N'Dog', N'Golden Retriever', N'Male', CAST(N'2023-11-20' AS Date), CAST(28.00 AS Decimal(5, 2)), 0)
SET IDENTITY_INSERT [dbo].[Pets] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionItems] ON 

INSERT [dbo].[PrescriptionItems] ([ItemID], [RecordID], [MedicineID], [Dosage], [Quantity], [UnitPrice]) VALUES (1, 1, 2, N'2 lần/ngày', CAST(1.00 AS Decimal(10, 2)), CAST(180000.00 AS Decimal(10, 2)))
INSERT [dbo].[PrescriptionItems] ([ItemID], [RecordID], [MedicineID], [Dosage], [Quantity], [UnitPrice]) VALUES (2, 2, 101, N'2 lần/ngày', CAST(4.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[PrescriptionItems] ([ItemID], [RecordID], [MedicineID], [Dosage], [Quantity], [UnitPrice]) VALUES (3, 4, 102, N'2 lần/ngày', CAST(1.00 AS Decimal(10, 2)), CAST(60000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PrescriptionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Providers] ON 

INSERT [dbo].[Providers] ([ProviderID], [Name], [ContactPerson], [Phone], [Email], [Address], [TaxCode], [Note], [IsActive], [CreatedAt]) VALUES (1, N'Công ty TNHH Dược Thú y Anivet', N'Nguyễn Văn Hùng', N'0909123456', N'contact@anivet.vn', N'123 Nguyễn Trãi, Q.5, TP.HCM', N'0301234567', N'Chuyên cung cấp thuốc kháng sinh, kháng viêm cho thú y', 1, CAST(N'2026-07-29T15:38:35.9181390' AS DateTime2))
INSERT [dbo].[Providers] ([ProviderID], [Name], [ContactPerson], [Phone], [Email], [Address], [TaxCode], [Note], [IsActive], [CreatedAt]) VALUES (2, N'Công ty CP Vắc-xin Nha Trang (Navetco)', N'Trần Thị Lan', N'0912345678', N'sales@navetco.vn', N'89 Trần Phú, Nha Trang, Khánh Hòa', N'4200123456', N'Nhà cung cấp vắc-xin chính cho chó, mèo', 1, CAST(N'2026-07-29T15:38:35.9181390' AS DateTime2))
INSERT [dbo].[Providers] ([ProviderID], [Name], [ContactPerson], [Phone], [Email], [Address], [TaxCode], [Note], [IsActive], [CreatedAt]) VALUES (3, N'Nhà phân phối Thú y Phương Nam', N'Lê Minh Tuấn', N'0987654321', N'phuongnam.vettrading@gmail.com', N'45 Lý Thường Kiệt, Cần Thơ', NULL, N'Đầu mối phân phối vật tư & thuốc thú y khu vực miền Tây', 1, CAST(N'2026-07-29T15:38:35.9181390' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Providers] OFF
GO
SET IDENTITY_INSERT [dbo].[Refunds] ON 

INSERT [dbo].[Refunds] ([RefundID], [Reason], [RefundedAt], [ProcessedByID], [AppointmentID], [BankCode], [AccountNumber], [AccountName], [Status], [RequestedAt], [TotalAmount], [PaidAmount], [RejectReason]) VALUES (1, NULL, CAST(N'2026-07-22T17:33:42.8466667' AS DateTime2), 1, 25, N'BIDV', N'8832754271', N'TRINH HA MINH', N'Processed', CAST(N'2026-07-19T23:04:21.2091600' AS DateTime2), CAST(50000.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[Refunds] ([RefundID], [Reason], [RefundedAt], [ProcessedByID], [AppointmentID], [BankCode], [AccountNumber], [AccountName], [Status], [RequestedAt], [TotalAmount], [PaidAmount], [RejectReason]) VALUES (2, N'Thú cưng đã khỏi bệnh', CAST(N'2026-07-20T03:08:01.6700000' AS DateTime2), 1, 26, N'BIDV', N'8832754271', N'TRINH HA MINH', N'Rejected', CAST(N'2026-07-20T03:08:01.6733154' AS DateTime2), CAST(420000.00 AS Decimal(12, 2)), CAST(420000.00 AS Decimal(12, 2)), N'Thông tin ngân hàng không hợp lệ. Vui lòng liên lạc qua email để nhận hỗ trợ.')
INSERT [dbo].[Refunds] ([RefundID], [Reason], [RefundedAt], [ProcessedByID], [AppointmentID], [BankCode], [AccountNumber], [AccountName], [Status], [RequestedAt], [TotalAmount], [PaidAmount], [RejectReason]) VALUES (3, N'Thú cưng đã khỏi', CAST(N'2026-07-21T22:17:00.5366667' AS DateTime2), 1, 27, N'MB', N'0772935263', N'TRINH HA DUY', N'Processed', CAST(N'2026-07-20T03:12:07.6578792' AS DateTime2), CAST(200000.00 AS Decimal(12, 2)), CAST(200000.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Refunds] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [AppointmentID], [CustomerID], [Rating], [Comment], [CreatedAt], [IsPublic]) VALUES (1, 8, 6, 4, N'', CAST(N'2026-07-16T13:20:15.7900000' AS DateTime2), 1)
INSERT [dbo].[Reviews] ([ReviewID], [AppointmentID], [CustomerID], [Rating], [Comment], [CreatedAt], [IsPublic]) VALUES (2, 12, 3, 4, N'', CAST(N'2026-07-18T23:28:46.3500000' AS DateTime2), 1)
INSERT [dbo].[Reviews] ([ReviewID], [AppointmentID], [CustomerID], [Rating], [Comment], [CreatedAt], [IsPublic]) VALUES (3, 37, 6, 4, N'Bác sĩ tay nghề cao, thái độ phục vụ tốt', CAST(N'2026-07-28T03:57:29.8800000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (4, N'Groomer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (5, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategories] ON 

INSERT [dbo].[ServiceCategories] ([CategoryID], [Name]) VALUES (5, N'Chẩn đoán')
INSERT [dbo].[ServiceCategories] ([CategoryID], [Name]) VALUES (7, N'Dịch vụ nội trú')
INSERT [dbo].[ServiceCategories] ([CategoryID], [Name]) VALUES (6, N'Điều trị')
SET IDENTITY_INSERT [dbo].[ServiceCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [CategoryID], [Name], [Price], [DurationMinutes], [IsActive]) VALUES (1, 1, N'Khám tổng quát lâm sàng', CAST(150000.00 AS Decimal(12, 2)), 30, 1)
INSERT [dbo].[Services] ([ServiceID], [CategoryID], [Name], [Price], [DurationMinutes], [IsActive]) VALUES (2, 1, N'Tư vấn dinh dưỡng', CAST(50000.00 AS Decimal(12, 2)), 30, 1)
INSERT [dbo].[Services] ([ServiceID], [CategoryID], [Name], [Price], [DurationMinutes], [IsActive]) VALUES (3, 2, N'Phẫu thuật ngoại khoa cấp cứu', CAST(3500000.00 AS Decimal(12, 2)), 120, 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [FullName], [Email], [Phone], [PasswordHash], [RoleID], [Specialization], [LicenseNumber], [HireDate], [IsActive], [CreatedAt]) VALUES (1, N'Nguyễn Văn An', N'admin@petclinic.com', N'0901234567', N'YkXinwNHUk+szyv0/lJGSQ==:149ee44488b2cb7130cedc1b8fcfd583cc604b76f469628aca29578c9dcf2cad', 1, N'Quản trị hệ thống', N'ADM-001', CAST(N'2025-01-01' AS Date), 1, CAST(N'2026-06-04T08:53:27.8966667' AS DateTime2))
INSERT [dbo].[Staff] ([StaffID], [FullName], [Email], [Phone], [PasswordHash], [RoleID], [Specialization], [LicenseNumber], [HireDate], [IsActive], [CreatedAt]) VALUES (2, N'Trần Thị Bình', N'receptionist@petclinic.com', N'0902345678', N'YkXinwNHUk+szyv0/lJGSQ==:149ee44488b2cb7130cedc1b8fcfd583cc604b76f469628aca29578c9dcf2cad', 2, N'Lễ tân & Thu ngân', N'REC-002', CAST(N'2025-06-15' AS Date), 1, CAST(N'2026-06-04T08:53:27.8966667' AS DateTime2))
INSERT [dbo].[Staff] ([StaffID], [FullName], [Email], [Phone], [PasswordHash], [RoleID], [Specialization], [LicenseNumber], [HireDate], [IsActive], [CreatedAt]) VALUES (3, N'Lê Trung Đức', N'vet.duc@petclinic.com', N'0903456789', N'YkXinwNHUk+szyv0/lJGSQ==:149ee44488b2cb7130cedc1b8fcfd583cc604b76f469628aca29578c9dcf2cad', 3, N'Phẫu thuật ngoại khoa', N'VET-999', CAST(N'2024-03-10' AS Date), 1, CAST(N'2026-06-04T08:53:27.8966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[StockImportReceiptDetails] ON 

INSERT [dbo].[StockImportReceiptDetails] ([ReceiptDetailID], [ReceiptID], [ItemType], [ItemID], [ItemName], [Quantity], [UnitPrice], [LineTotal]) VALUES (1, 1, N'Vaccine', 3, N'Vaccine cho mèo', 111, CAST(1000.00 AS Decimal(18, 2)), CAST(111000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockImportReceiptDetails] ([ReceiptDetailID], [ReceiptID], [ItemType], [ItemID], [ItemName], [Quantity], [UnitPrice], [LineTotal]) VALUES (2, 2, N'Vaccine', 3, N'Vaccine cho mèo', 111, CAST(1000.00 AS Decimal(18, 2)), CAST(111000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockImportReceiptDetails] ([ReceiptDetailID], [ReceiptID], [ItemType], [ItemID], [ItemName], [Quantity], [UnitPrice], [LineTotal]) VALUES (3, 3, N'Vaccine', 3, N'Vaccine cho mèo', 111, CAST(200000.00 AS Decimal(18, 2)), CAST(22200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StockImportReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StockImportReceipts] ON 

INSERT [dbo].[StockImportReceipts] ([ReceiptID], [ReceiptCode], [ProviderID], [PerformedByID], [ImportedAt], [TotalAmount]) VALUES (1, N'PN-20260803-212303-498', 4, 1, CAST(N'2026-08-03T21:23:03.5414823' AS DateTime2), CAST(111000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockImportReceipts] ([ReceiptID], [ReceiptCode], [ProviderID], [PerformedByID], [ImportedAt], [TotalAmount]) VALUES (2, N'PN-20260803-212747-645', 4, 1, CAST(N'2026-08-03T21:27:47.7198621' AS DateTime2), CAST(111000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockImportReceipts] ([ReceiptID], [ReceiptCode], [ProviderID], [PerformedByID], [ImportedAt], [TotalAmount]) VALUES (3, N'PN-20260803-213550-626', 4, 1, CAST(N'2026-08-03T21:35:50.6859371' AS DateTime2), CAST(22200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StockImportReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[StockTransactions] ON 

INSERT [dbo].[StockTransactions] ([TransactionID], [ItemType], [ItemID], [QuantityChange], [Reason], [PerformedByID], [TransactionDate], [ProviderID], [TransactionType], [PurchasePrice], [ReceiptID]) VALUES (1, N'Medicine', 2, CAST(-1.00 AS Decimal(10, 2)), N'Used', 4, CAST(N'2026-07-13T22:23:26.0700000' AS DateTime2), NULL, N'Export', NULL, NULL)
INSERT [dbo].[StockTransactions] ([TransactionID], [ItemType], [ItemID], [QuantityChange], [Reason], [PerformedByID], [TransactionDate], [ProviderID], [TransactionType], [PurchasePrice], [ReceiptID]) VALUES (2, N'Medicine', 102, CAST(2.00 AS Decimal(10, 2)), N'Purchase', 1, CAST(N'2026-07-19T21:47:45.6100000' AS DateTime2), NULL, N'Import', NULL, NULL)
INSERT [dbo].[StockTransactions] ([TransactionID], [ItemType], [ItemID], [QuantityChange], [Reason], [PerformedByID], [TransactionDate], [ProviderID], [TransactionType], [PurchasePrice], [ReceiptID]) VALUES (3, N'Medicine', 103, CAST(8.00 AS Decimal(10, 2)), N'Purchase', 1, CAST(N'2026-07-20T15:45:19.7200000' AS DateTime2), NULL, N'Import', NULL, NULL)
SET IDENTITY_INSERT [dbo].[StockTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplies] ON 

INSERT [dbo].[Supplies] ([SupplyID], [Name], [Unit], [UnitPrice], [StockQty], [IsActive], [ProviderID]) VALUES (1, N'Dầu tắm cho chó', N'chai', CAST(85000.00 AS Decimal(10, 2)), 50, 1, NULL)
INSERT [dbo].[Supplies] ([SupplyID], [Name], [Unit], [UnitPrice], [StockQty], [IsActive], [ProviderID]) VALUES (2, N'Găng tay y tế', N'hộp', CAST(45000.00 AS Decimal(10, 2)), 30, 1, NULL)
INSERT [dbo].[Supplies] ([SupplyID], [Name], [Unit], [UnitPrice], [StockQty], [IsActive], [ProviderID]) VALUES (3, N'Khăn giấy lau khô', N'gói', CAST(25000.00 AS Decimal(10, 2)), 100, 1, NULL)
SET IDENTITY_INSERT [dbo].[Supplies] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccines] ON 

INSERT [dbo].[Vaccines] ([VaccineID], [Name], [UnitPrice], [StockQty], [MinStockLevel], [ProviderID]) VALUES (1, N'Vaccine 4 bệnh cho mèo (Purevax)', CAST(350000.00 AS Decimal(10, 2)), 60, 10, NULL)
INSERT [dbo].[Vaccines] ([VaccineID], [Name], [UnitPrice], [StockQty], [MinStockLevel], [ProviderID]) VALUES (2, N'Vaccine 7 bệnh cho chó (Vanguard)', CAST(250000.00 AS Decimal(10, 2)), 80, 10, NULL)
INSERT [dbo].[Vaccines] ([VaccineID], [Name], [UnitPrice], [StockQty], [MinStockLevel], [ProviderID]) VALUES (3, N'Vaccine cho mèo', CAST(200000.00 AS Decimal(10, 2)), 333, 11, NULL)
SET IDENTITY_INSERT [dbo].[Vaccines] OFF
GO
/****** Object:  Index [UQ_AppointmentServices_App_Service]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[AppointmentServices] ADD  CONSTRAINT [UQ_AppointmentServices_App_Service] UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cages__90078CBEA297F390]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[Cages] ADD UNIQUE NONCLUSTERED 
(
	[CageNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534F6BBB858]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Grooming__8ECDFCA3C75DBE7F]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[GroomingRecords] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Inpatien__FBDF78C8E8E929A9]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[InpatientAdmissions] ADD UNIQUE NONCLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Invoices__8ECDFCA3BE74C783]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MedicalR__8ECDFCA333925E66]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[MedicalRecords] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160679FCD4D]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ServiceC__737584F60F2630FB]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[ServiceCategories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D10534EA8E12AA]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StaffAttendance_StaffDateShift]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[StaffAttendance] ADD  CONSTRAINT [UQ_StaffAttendance_StaffDateShift] UNIQUE NONCLUSTERED 
(
	[StaffID] ASC,
	[WorkDate] ASC,
	[SlotShift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StockImp__1AB76D00CB7ADE7B]    Script Date: 8/3/2026 9:53:46 PM ******/
ALTER TABLE [dbo].[StockImportReceipts] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Cages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DailyAssessments] ADD  DEFAULT (CONVERT([date],getdate())) FOR [AssessmentDate]
GO
ALTER TABLE [dbo].[GroomingRecords] ADD  DEFAULT ((0)) FOR [FlagForVet]
GO
ALTER TABLE [dbo].[GroomingRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InpatientAdmissions] ADD  DEFAULT (CONVERT([date],getdate())) FOR [AdmitDate]
GO
ALTER TABLE [dbo].[InpatientAdmissions] ADD  DEFAULT ('Admitted') FOR [Status]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((10)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('INFO') FOR [Type]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaidAt]
GO
ALTER TABLE [dbo].[Pets] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Providers] ADD  CONSTRAINT [DF_Providers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Providers] ADD  CONSTRAINT [DF_Providers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Refunds] ADD  CONSTRAINT [DF_Refunds_Status]  DEFAULT ('Requested') FOR [Status]
GO
ALTER TABLE [dbo].[Refunds] ADD  CONSTRAINT [DF_Refunds_RequestedAt]  DEFAULT (sysdatetime()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((30)) FOR [DurationMinutes]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (CONVERT([date],getdate())) FOR [HireDate]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StaffAttendance] ADD  DEFAULT ('Present') FOR [Status]
GO
ALTER TABLE [dbo].[StaffAttendance] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockImportReceipts] ADD  DEFAULT (sysutcdatetime()) FOR [ImportedAt]
GO
ALTER TABLE [dbo].[StockImportReceipts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[StockTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Supplies] ADD  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Supplies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SupplyUsageItems] ADD  DEFAULT (getdate()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT (CONVERT([date],getdate())) FOR [AdministeredDate]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Vaccines] ADD  CONSTRAINT [DF_Vaccines_MinStockLevel]  DEFAULT ((10)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[AppointmentServices]  WITH CHECK ADD FOREIGN KEY([AssignedStaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[AppointmentServices]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentServices_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentServices] CHECK CONSTRAINT [FK_AppointmentServices_Appointments]
GO
ALTER TABLE [dbo].[AppointmentServices]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentServices_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[AppointmentServices] CHECK CONSTRAINT [FK_AppointmentServices_Services]
GO
ALTER TABLE [dbo].[DailyAssessments]  WITH CHECK ADD FOREIGN KEY([AdmissionID])
REFERENCES [dbo].[InpatientAdmissions] ([AdmissionID])
GO
ALTER TABLE [dbo].[DailyAssessments]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[GroomingRecords]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[GroomingRecords]  WITH CHECK ADD FOREIGN KEY([GroomerID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[GroomingRecords]  WITH CHECK ADD FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[InpatientAdmissions]  WITH CHECK ADD FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[InpatientAdmissions]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecords] ([RecordID])
GO
ALTER TABLE [dbo].[InpatientAdmissions]  WITH CHECK ADD  CONSTRAINT [FK_InpatientAdmissions_Cages] FOREIGN KEY([CageID])
REFERENCES [dbo].[Cages] ([CageID])
GO
ALTER TABLE [dbo].[InpatientAdmissions] CHECK CONSTRAINT [FK_InpatientAdmissions_Cages]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_Providers] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Providers] ([ProviderID])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_Providers]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ProcessedByID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecords] ([RecordID])
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD FOREIGN KEY([ProcessedByID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Appointments]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[StaffAttendance]  WITH CHECK ADD  CONSTRAINT [FK_StaffAttendance_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[StaffAttendance] CHECK CONSTRAINT [FK_StaffAttendance_Staff]
GO
ALTER TABLE [dbo].[StockImportReceiptDetails]  WITH CHECK ADD FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[StockImportReceipts] ([ReceiptID])
GO
ALTER TABLE [dbo].[StockImportReceipts]  WITH CHECK ADD FOREIGN KEY([PerformedByID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[StockImportReceipts]  WITH CHECK ADD FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Providers] ([ProviderID])
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD FOREIGN KEY([PerformedByID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[StockImportReceipts] ([ReceiptID])
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Providers] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Providers] ([ProviderID])
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Providers]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Providers] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Providers] ([ProviderID])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Providers]
GO
ALTER TABLE [dbo].[SupplyUsageItems]  WITH CHECK ADD  CONSTRAINT [FK_SupplyUsage_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[SupplyUsageItems] CHECK CONSTRAINT [FK_SupplyUsage_Appointment]
GO
ALTER TABLE [dbo].[SupplyUsageItems]  WITH CHECK ADD  CONSTRAINT [FK_SupplyUsage_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[SupplyUsageItems] CHECK CONSTRAINT [FK_SupplyUsage_Staff]
GO
ALTER TABLE [dbo].[SupplyUsageItems]  WITH CHECK ADD  CONSTRAINT [FK_SupplyUsage_Supply] FOREIGN KEY([SupplyID])
REFERENCES [dbo].[Supplies] ([SupplyID])
GO
ALTER TABLE [dbo].[SupplyUsageItems] CHECK CONSTRAINT [FK_SupplyUsage_Supply]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[Vaccines]  WITH CHECK ADD  CONSTRAINT [FK_Vaccines_Providers] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Providers] ([ProviderID])
GO
ALTER TABLE [dbo].[Vaccines] CHECK CONSTRAINT [FK_Vaccines_Providers]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_Status] CHECK  (([Status]='NoShow' OR [Status]='Cancelled' OR [Status]='Done' OR [Status]='InProgress' OR [Status]='Arrived' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_Status]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_AppTime] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_AppTime]
GO
ALTER TABLE [dbo].[AppointmentServices]  WITH CHECK ADD  CONSTRAINT [CK_AppointmentServices_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[AppointmentServices] CHECK CONSTRAINT [CK_AppointmentServices_UnitPrice]
GO
ALTER TABLE [dbo].[InpatientAdmissions]  WITH CHECK ADD CHECK  (([Status]='Discharged' OR [Status]='Critical' OR [Status]='Admitted'))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceItems_ItemType] CHECK  (([ItemType]='Other' OR [ItemType]='Supply' OR [ItemType]='Vaccine' OR [ItemType]='Medicine' OR [ItemType]='Service'))
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [CK_InvoiceItems_ItemType]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([Status]='PartiallyRefunded' OR [Status]='Refunded' OR [Status]='Paid' OR [Status]='Unpaid' OR [Status]='PrePaid'))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_Status] CHECK  (([Status]='PartiallyRefunded' OR [Status]='Refunded' OR [Status]='Paid' OR [Status]='PrePaid' OR [Status]='Unpaid'))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_Status]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_NotificationTarget] CHECK  (([CustomerID] IS NOT NULL OR [StaffID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_NotificationTarget]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Method]='E-Wallet' OR [Method]='BankTransfer' OR [Method]='Card' OR [Method]='Cash'))
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD CHECK  (([Gender]=N'Unknown' OR [Gender]=N'Female' OR [Gender]=N'Male'))
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [CK_Refunds_Status] CHECK  (([Status]='Requested' OR [Status]='Processed' OR [Status]='Rejected'))
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [CK_Refunds_Status]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CK_Services_DurationMinutes] CHECK  (([DurationMinutes]>=(0)))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CK_Services_DurationMinutes]
GO
ALTER TABLE [dbo].[StaffAttendance]  WITH CHECK ADD  CONSTRAINT [CK_StaffAttendance_Status] CHECK  (([Status]='OnLeave' OR [Status]='Late' OR [Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[StaffAttendance] CHECK CONSTRAINT [CK_StaffAttendance_Status]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StockTransactions_ItemType] CHECK  (([ItemType]='Supply' OR [ItemType]='Vaccine' OR [ItemType]='Medicine'))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CK_StockTransactions_ItemType]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StockTransactions_PurchasePrice] CHECK  (([PurchasePrice] IS NULL OR [PurchasePrice]>=(0)))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CK_StockTransactions_PurchasePrice]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StockTransactions_TransactionType] CHECK  (([TransactionType]='Import' OR [TransactionType]='Export' OR [TransactionType]='Adjustment'))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CK_StockTransactions_TransactionType]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [CK_Supplies_StockQty] CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [CK_Supplies_StockQty]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [CK_Supplies_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [CK_Supplies_UnitPrice]
GO
ALTER TABLE [dbo].[SupplyUsageItems]  WITH CHECK ADD  CONSTRAINT [CK_SupplyUsage_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SupplyUsageItems] CHECK CONSTRAINT [CK_SupplyUsage_Quantity]
GO
ALTER TABLE [dbo].[SupplyUsageItems]  WITH CHECK ADD  CONSTRAINT [CK_SupplyUsage_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[SupplyUsageItems] CHECK CONSTRAINT [CK_SupplyUsage_UnitPrice]
GO
ALTER TABLE [dbo].[Vaccines]  WITH CHECK ADD CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[Vaccines]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
